@import url('https://fonts.googleapis.com/css?family=Oranienbaum&subset=cyrillic');

body {
  font-family: 'Oranienbaum', serif;
  cursor: default;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background-image: url("../img/header.jpg");
  background-repeat: repeat-x;
  background-position: left bottom;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20%;
  text-align: center;
}

#other {
  width: 100%;
  height: 80%;
  background-image: url("../img/bg2.jpg");
  background-position: left top;
  box-shadow: 0px -10px 30px 0px rgba(255,255,255,1);
  text-align: center;
}

.text {
}

#title {
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 35%;
  font-size: 3em;
  background-color: rgba(255, 255, 255, 0.8);
}

#i-need-another-one {
  position: absolute;
  width: 30%;
  left: 35%;
  font-size: 2.5em;
  background-color: rgba(157, 144, 133, 0.8);
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s 2s forwards;
}

#i-need-another-one > a {
  color: black;
  text-decoration: none;
  transition: 1s;
}

#i-need-another-one > a:hover {
  color: white;
}

#rubai-wrapper {
  padding: 30px;
  text-align: center;
}

#rubai {
  display: inline-block;
  padding: 50px;
  background-color: rgba(157, 144, 133, 0.8);
  font-size: 2.5em;
  transition: 2s;
}

#rubai:hover {
  color: white;
}

.show-up {
  animation: showUp 1.8s ease-out;
}

#hayam-itself {
  background-image: url("../img/hayam.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 25%;
  height: 35%;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 2s ease-in;
  animation: fadeIn 2s 2s forwards;
}

#hayam-itself:hover {
  bottom: -15%;
  right: -10%;
}

@media only screen and (max-width: 469px) {
   #title {
    font-size: 1.6em;
   }

   #rubai {
    font-size: 1.8em;
    padding: 10px;
   }
   
   #i-need-another-one {
    font-size: 1.5em;
   }
}

@media only screen and (max-width: 360px) {
   #title {
    font-size: 1.2em;
   }

   #rubai {
    font-size: 1.8em;
    padding: 10px;
   }
   
   #i-need-another-one {
    font-size: 1.2em;
   }
}

@media only screen and (max-width: 320px) {
   #title {
    font-size: 1.2em;
   }

   #rubai {
    font-size: 1.5em;
    padding: 10px;
   }
   
   #i-need-another-one {
    font-size: 1.2em;
   }
}

@keyframes showUp {
  from { 
    margin-top: 15%;
    opacity: 0; 
  }
  to {
    margin-top: 0;
    opacity: 1; 
  }
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}
